html {
	font-size: 100%;
	@media screen and (max-width: 430px) {
		font-size: 87%;
	}
}

body {
	background: var(--bg-main);
	font-size: $fs-body;
	font-family: 'PLusjakartaSans';
	font-weight: $fw-regular;
	color: var(--color-main);
}