.starter {
	padding: 100px 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	@media screen and (max-width: 425px) {
		padding: 50px 0;
	}

	&__title {
		color: var(--color-main);
		font-size: $fs-h1;
		line-height: $lh-heading-m;
		font-weight: $fw-bolrd;
		margin-bottom: 16px;
		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
	&__subtitle {
		color: var(--color-muted);
		font-size: $fs-body;
		line-height: $lh-body-l;
		letter-spacing: 0.15px;
		font-weight: $fw-medium;
		margin-bottom: 64px;
		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
}

.categories {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	gap: 64px;
	@media screen and (max-width: 1315px) {
		width: 300px;
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		gap: 20px;
		&::-webkit-scrollbar { display: none; }
    -ms-overflow-style: none;
    scrollbar-width: none;
		padding: 0 16px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 1315px) {
			flex: 0 0 100%;
		}
	}
	&__block-icon {
		border-top: 1px solid rgba(255, 255, 255, 0.08);
		border-radius: 56px;
		box-shadow: 0px 0px 64px 0px rgba(182, 240, 156, 0.16);
		background: linear-gradient(145.32deg, rgba(215.22, 236.94, 236.94, 0.16) 0%,rgba(204.48, 234.81, 234.81, 0) 100%);
		margin-bottom: 16px;
		padding: 14px 18px;
		@media screen and (max-width: 1315px) {
			box-shadow: none;
		}
	}
	&__block-title {
		color: var(--color-main);
		font-size: $fs-h4;
		line-height: $lh-body-xl;
		letter-spacing: 0.15px;
		font-weight: $fw-semibold;
		margin-bottom: 32px;
	}
	&__block-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__block-item {
		padding: 16px;
		border-top: 1px solid rgba(255, 255, 255, 0.08);
		border-radius: 12px;
		background: linear-gradient(145.32deg, rgba(215.22, 236.94, 236.94, 0.16) 0%,rgba(204.48, 234.81, 234.81, 0) 100%);
		cursor: pointer;
		&:hover {
			.categories__block-link {
				img {
					transform: translateX(10px);
				}
			}
		}
	}
	&__block-link {
		display: flex;
		align-items: center;
		span {
			color: var(--color-main);
			font-size: $fs-small;
			line-height: $lh-body-m;
			font-weight: $fw-semibold;
			letter-spacing: 0.15px;
		}
		img {
			margin-left: auto;
			transition: 305ms ease-in-out;
		}
		@media screen and (max-width: 1315px) {
			gap: 10px;
		}
	}
}